* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.calc-container {
  display: flex;
  width: 400px;
  height: 500px;
  margin: 0 auto;
  margin-top: 50px;
  flex-wrap: wrap;
}

.clear-button {
  background-color: rgb(213, 230, 122);
  width: 25%;
}

.display-box {
  background-color: rgb(194, 223, 235);
  width: 75%;
}

.num-key {
  background-color: rgb(46, 144, 209);
  width: 25%;
}

.op-key {
  background-color: rgb(194, 223, 235);
  width: 25%;
  
}

.button {
  /* border: 5px solid white; */
  /* border-bottom: .5px solid lightslategray;  */
  /* margin: 5px; */
  text-align: center;
  font-size: 25px;
  /* padding-top: 35px; */
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.11);
}


.number-pad {
  padding: 15px;
}




